<nav class="custom-nav">
    <div class="cutstom-nav-wrapper">
        <div class="site-title">title</div>
        <div class="site-notice">Find the ideal gift for your loved ones.</div>
        <div class="nav-button">choose gift</div>
    </div> 
</nav>


<style>
.custom-nav{
    display:flex;
    align-items:center;
    justify-content:center;
    width:100%;
    padding:10px 50px;
    background:rgba(245, 245, 245, 1);
}
 .cutstom-nav-wrapper{
    display:flex;
    align-items:space-between;
    justify-content: center;
    max-width:1440px;
}
</style>