<nav class="custom-nav">
    <div class="cutstom-nav-wrapper"></div> 
    <div class="site-title">title</div>
    <div class="site-notice">Find the ideal gift for your loved ones.</div>
    <div class="nav-button">choose gift</div>
</nav>


<style>
.cutstom-nav-wrapper{
    display:flex;
    padding:10px 50px;
    background:rgba(245, 245, 245, 1)
}
.custom-nav{
    display:flex;
    align-items:center;
    justify-content:space-between;
    max-width:1440px;

}
</style>