.new-product-grid-section {
  padding: 100px 50px 50px;
  max-width: 1440px;
  margin: 0 auto;
}

.new-products-grid-wrapper {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(var(--columns-desktop), 1fr);
}



.new-product-grid-heading {
  font-family: "Lustria";
  font-weight: 400;
  font-style: Regular;
  font-size: 36px;
  line-height: 120%;
  margin-bottom: 20px;
}

.new-product-grid-item {
  position: relative;
  height: 440px
}

.new-product-image {
  object-fit: cover;
}

.product-button {
  display: inline-block;
  width: 22px;
  height: 22px;
  background-color: rgba(248, 248, 248, 0.9);
  background-image:url("https://cdn.shopify.com/s/files/1/0988/0495/7495/files/Group_1000008196.jpg?v=1777700950");
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000;
  cursor: pointer;
}

 

.no-products-message {
  font-family: "Lustria";
  font-weight: 400;
  font-style: Regular;
  font-size: 24px;
  line-height: 120%;
  text-align: center;
  color: crimson
}

@media (max-width: 749px) {
  .new-product-grid-section {
    padding: 50px 20px;
  }

  .new-product-grid-heading {
    font-size: 28px;
  }

  .new-products-grid-wrapper {
    grid-template-columns: repeat(var(--columns-mobile), 1fr);
    padding: 50px 0 0;
    gap: 5px
  }

  .new-product-grid-item {
    height: 190px;
  }


}