.hero-section {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  background-repeat: no-repeat;
}

/* Overlay layer */
.hero-overlay {
  position: absolute;
  inset: 0;
  z-index: 1;
  display: block !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.hero-content-wrapper {
  display: flex;
  text-align: left;
  padding: 0 50px;
  width: 100%;
}

/* Content stays above overlay */
.hero-text-content {
  padding: 50px 0;
  width: 100%;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 40px;
  font-family: 'Jost';
  z-index: 2;
}

.hero-text-content h1,
.hero-text-content p,
.hero-text-content a {
  margin: 0;
  padding: 0;
}

.hero-heading {
  font-weight: 500;
  font-size: 70px;
  line-height: 1;
  letter-spacing: 0px;
}

.hero-subheading {
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
}

.hero-text-content a.hero-button {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 10px;
  padding: 10px 30px;
  text-decoration: none;
  border-radius: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 20.48px;
  letter-spacing: 0px;
  text-align: center;
  text-transform: uppercase;
  transition: opacity 0.3s ease;
  margin-top: auto;
}

.hero-text-content a.hero-button.for-desktop {
  display: inline-flex;
}

.hero-text-content a.hero-button.for-mobile {
  display: none;
}

.hero-text-content a.hero-button:hover {
  opacity: 0.85;
}

.hero-text-content .hero-button-icon {
  max-width: 24px;
  height: auto;
  width: 100%;
  flex-shrink: 0;
}


/* =========================
     MOBILE OPTIMIZATION
  ========================= */
@media (max-width: 749px) {
  .hero-section {
    padding: 0;
    justify-content: center !important;
    align-items: flex-start !important;
  }

  .hero-text-content {
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: flex-start;
    padding: 30px 20px;
  }

  .hero-heading {
    font-size: 32px;
    line-height: 1.2;
  }

  .hero-subheading {
    font-size: 16px;
  }

  .hero-button {
    justify-content: center;
    margin-top: auto;
  }

  .hero-text-content a.hero-button.for-desktop {
    display: none
  }

  .hero-text-content a.hero-button.for-mobile {
    display: inline-flex;
  }
}